@font-face {
    font-family: 'Orbitron';
    src: url('Orbitron-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
    background: #f3f4ef; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0;
    position: relative; 
}

.user-wel {
    font-family: 'Orbitron', sans-serif; 
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    color: #f3f4ef; ;
}

h1 {
    font-family: 'Orbitron', sans-serif; 
    font-weight: 900;
    font-size: 32px;
    margin-bottom: 20px; 
    text-align: center;
    color: #03396c;
}

h2 {
    font-family: 'Orbitron', sans-serif; 
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 15px; 
    color: #03396c;
}

h3 {
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 10px; 
    color: #03396c;
}

.appliances-detail .table-heading {
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
}

.user-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 70px;
    left: 40px;
    background: #03396c;
    padding: 40px; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    max-width: 250px; 
    max-height: 80px;
}

.total-energy {
    position: absolute; 
    top: 250px;
    left: 40px;
    background: #f3f4ef; 
    padding: 40px; 
    border-radius: 12px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    max-width: 250px; 
    width: 100%; 
}

.energy-graph {
    position: absolute;
    top: 70px;
    left: 390px;
    
    background: #f3f4ef;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 1010px; 
    height: 270px;
}

.appliances-detail {
    position: absolute;
    top: 440px;  
    left: 40px;  
    
    background: #f3f4ef;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    
    width: 1380px; 
    height: auto;
}

.appliances-detail table {
    width: 100%;
    table-layout: fixed;

    border-collapse: separate; 
    border-spacing: 0;         
    border-radius: 12px;       
    overflow: hidden;
    border-collapse: collapse;   
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    background-color: #ffffff;
}

.appliances-detail th:nth-child(2) {
    width: 30%;
}

.appliances-detail th:nth-child(3) {
    width: 20%;
}

.appliances-detail th {
    background-color: #03396c;
    color: #ffffff;
    text-align: left;
    text-align: left;
    padding: 16px 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}

.appliances-detail td {
    text-align: left;
    padding: 16px 20px;
    border-bottom: 1px solid #dcd9d7; 
    color: #40474c; 
    font-size: 15px;
}

.appliances-detail tr:last-child td {
    border-bottom: none;
}

.appliances-detail tr {
    transition: background-color 0.2s ease;
}

.appliances-detail tr:hover {
    background-color: #f3f4ef; /
}

.appliances-detail tr.row-off td {
    background-color: #fcf2f2;
    color: #a33a3a;
}

.appliances-detail tr.row-off:hover td {
    background-color: #f5e6e6; 
}