<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'navbar_template.html' %}

    <div class="user-welcome">
        <h1 class="user-wel">Welcome, {{ usr }}!</h1>
    </div>

    <div class="total-energy">
        <h3>Total Energy Consumption</h3>
        <p>{{ total_energy }} kWh</p>
    </div>

    <div class="energy-graph">
        <canvas id="line-chart" width="1000" height="250"></canvas>
        <script>
            var ctx = document.getElementById('line-chart').getContext('2d');

            var gradientFill = ctx.createLinearGradient(0, 0, 0, 400); 
            gradientFill.addColorStop(0, 'rgba(3, 57, 108, 1)'); // Top color
            gradientFill.addColorStop(1, 'rgba(3, 57, 108, 0.5)'); // Bottom color

            var lineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: {{ labels | tojson | safe}},
                    datasets: [{
                        data: {{ values | tojson | safe }},
                        fill: true,
                        backgroundColor: gradientFill,
                        lineTension: 0.3,

                        pointHoverRadius: 6,
                        pointBackgroundColor: "#f3f4ef",
                        pointBorderColor: "#03396c",
                        pointBorderWidth: 2
                    }]
                },
                options: {
                    responsive: false,
                    maintainAspectRatio: false,

                    animation: false,

                    plugins: {
                        legend: {
                            display: false
                        }
                    },
                }
            });
        </script>
    </div>

    <div class="appliances-detail">
        <h2 class="table-heading">{{ usr }}'s Home</h2>
        <table>
            <tr>
                <th>Device Id</th>
                <th>Device Name</th>
                <th>Room</th>
                <th>Current Wattage</th>
                <th>Status</th>
            </tr>
            {% for appliance in usr_device %}
                <tr class="{% if appliance.status == 'OFF' %}row-off{% endif %}">
                    <td>{{ appliance.device_id }}</td>
                    <td>{{ appliance.device_name }}</td>
                    <td>{{ appliance.room_name }}</td>
                    <td>{{ appliance.current_wattage }}</td>
                    <td>{{ appliance.status }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>

<script>
    // Refresh the page every 10 seconds to fetch new simulator data
    setTimeout(function() {
        location.reload();
    }, 5000); 
</script>