<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='log_in.css') }}">
</head>

<!-- bg=#dcd9d7 accent=#40474c, fg=#007ba7 -->

<body>
    {% include 'start_background.html' %}

    <!-- The Login Box -->
    <div class="log-in-container" id="login_div">
        <h1>Sign In</h1>

        <form action="{{ url_for('login_page') }}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="error-message">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>

            <button type="submit">Log In</button>
        </form>
    </div>

    <div class="Register-container">
        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
    </div>

</body>
</html>